
.jsub-category{
	margin-bottom: 25px;
}
.jsub-category h2{
	margin-top: 0;
	font-size: 20px;
	margin-bottom: 15px;
	color: #333;
}
.jsub-category li{
	width: 25%;
	vertical-align: top;
	text-align: center;
	margin-bottom: 10px;
}
.jsub-category ul{
	display: flex;
	flex-wrap: wrap;
}
.jsub-category li > div{
	background-color: #fff;
	border: 1px solid #ececec;
	padding: 5px 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.jsub-category li .jimage{
	display: block;
	padding: 10px;
}
.jsub-category li h4{
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 600;
}
.jsub-category li .matter{
	padding-top: 10px;
}
.jsub-category li .matter, .jsub-category li .matter p{
	color: #4b4b4b;
	font-size: 14px;
	margin: 0;
}
.jsub-category li .button-mask{
   opacity: 0;
   overflow:visible;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,0.5);
   display: table;
   text-align: center;
}
.jsub-category li .button-mask .viewall{
   position:relative;
   opacity: 0;
   -webkit-transition: opacity 0.5s 0s ease-in-out;
   -moz-transition: opacity 0.5s 0s ease-in-out;
   -o-transition: opacity 0.5s 0s ease-in-out;
   -ms-transition: opacity 0.5s 0s ease-in-out;
   transition: opacity 0.5s 0s ease-in-out;
   display: table-cell;
	vertical-align: middle;
}
.jsub-category li:hover .button-mask {
   	opacity: 1;
}
.jsub-category li:hover a.viewall {
	opacity:1;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.jsub-category li a.viewall{
	color: #fff;
	font-size: 14px;
}
.jsub-category.j-list li{
	width: 100%;
	text-align: left;
}
.jsub-category.j-list li .jimage{
	float: left;
	padding-right: 30px;
}
.jsub-category .owl-wrapper-outer{
	border: none;
	box-shadow: none;
}
.jsub-category .owl-carousel{
	padding: 0 15px;
}
.jsub-category .owl-carousel li{
	width: 100%;
}
.jsub-category .owl-carousel .owl-wrapper{
	display: flex !important;
}
.jsub-category .owl-carousel .owl-item{
	display: flex;
	padding: 0 5px;
}
.jsub-category .owl-carousel .owl-buttons .owl-prev{
	left: 0;
}
.jsub-category .owl-carousel .owl-buttons .owl-next{
	right: 0;
}
.jsub-category .owl-carousel .owl-buttons div i{
	font-size: 24px;
}